@use 'variables';

.container {
  align-content: center;
  display: flex;
  text-align: center;
  font-size: 8em;
  font-family: monospace;
  font-weight: bold;

  &_isReadonly {
    opacity: 0.5;
  }
}

.input {
  all: unset;
  display: inline-block;
  font-size: inherit;
  font-family: inherit;
  flex-grow: 1;
  text-align: center;
  width: 2em;
  padding: 0;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &.input_min {
    text-align: right;
  }
  &.input_sec {
    text-align: left;
  }
}

.separator {
  font-family: monospace;
}
